.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2%;
  padding: 0 4%;
  width: 50.5vw;;
  height: 5em;
  border-radius: 10px;
  border: 1px solid #ccc;
  transition: 0.5s ease-in-out;
}

.container:hover {
  cursor: pointer;
  background-color: rgb(204, 204, 204, 0.3);
}

.taskIcon {
  width: 6%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgb(25, 103, 210);
}

.taskTitle {
  letter-spacing: 0.01785714em;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #3c4043;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}

.taskTitle span:last-child {
  color: rgb(60, 64, 67, 0.5);
  font-size: 0.7rem;
}