.container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 2%;
  align-items: center;
  font-size: 12px;
  font-weight: roboto;
  line-height: normal;
  color: rgb(217, 48, 37);
}

.container img {
  width: 3%;
}
