* {
  text-transform: capitalize;
}

.container {
  background-color: #fff;
  z-index: 11;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  border-bottom: 0.0625rem solid #e0e0e0;
  width: 100%;
}

.containerLogo {
  min-width: 25%;
  max-width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLogo a {
  padding: 0 5%;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 5%;
  border: none;
}

.containerLogo a:hover span,
img {
  cursor: pointer;
  color: #1e8e3e;
  text-decoration: underline;
}
.containerLogo img {
  display: block;
  height: 2em;
}

.containerLogo span {
  font-family: Google Sans, Roboto, Arial, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: #5f6368;
}

.profile {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
  height: 100%;
}

.profile button {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  width: 20%;
  height: 80%;
  border-radius: 50%;
  animation: 0.3s ease-in-out;
}

.profile button:hover {
  background-color: #cccccc1e;
  cursor: pointer;
}

.profile button span {
  font-family: google sans;
  font-weight: lighter;
  font-size: 2.5em;
}

.groupButtons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: absolute;
  right: 65%;
  top: 70%;
  background-color: #ffffff;
  width: 50%;
  height: 90%;
  padding: 5% 0;
  border-radius: 5px;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

.groupButtons button {
  font-size: 1rem;
  font-family: google sans;
  text-align: left;
  border-radius: 0;
  background-color: #fff;
  width: 100%;
}

.groupButtons button:hover {
  background-color: #cccccc1e;
  cursor: pointer;
}

.placeholder {
  opacity: 0;
  padding: 2%;
  border-radius: 5px;
  color: #fff;
  background-color: #555a60;
  font-size: 0.7em;
  position: absolute;
  top: 95%;
  left: 9%;
}

.buttonPlus:hover + div {
  opacity: 1;
}

.icon {
  font-size: 1.3em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 55%;
  border-radius: 50%;
  background-color: #2369bf;
}

.icon:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 1px rgb(155, 147, 147);
}

.placeholderProfile {
  opacity: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1%;
  padding: 2%;
  border-radius: 5px;
  color: #fff;
  background-color: #6c7176;
  font-size: 0.7em;
  position: absolute;
  top: 95%;
  right: 20%;
}

.icon:hover + div {
  opacity: 1;
}

.placeholderProfile span:first-child {
  font-size: 1.2em;
  font-weight: bolder;
}

.placeholderProfile span:last-child {
  font-size: 1em;
  color: #e2e7ec;
  font-weight: bolder;
}
